<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <div th:fragment="alert (postId, children)">
        <div th:each="comment : ${children}">
                <div th:with="left=${comment.depth*50}"
                     th:style="'position:relative;left:'+${left}+'px;'">

                    <p th:text="${comment.text}"></p>

                    <form th:action="'/deleteComment/'+${comment.id}" method="POST">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Delete">
                        </div>
                    </form>
                    <form th:action="'/addComment/'+${postId}+'?commentId='+${comment.id}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="text" id="text"/>
                            <input type="submit" class="btn btn-primary" value="Comment"/>
                        </div>
                    </form>

                </div>
                <div th:replace="fragments/commentFragment :: alert(postId=${postId}, children=${comment.children})"></div>

                <!--<div th:each="child : ${comment.children}">-->
                    <!---->
                    <!--<div th:with="childLeft=${comment.depth*50}"-->
                         <!--th:style="'position:relative;left:'+${childLeft}+'px;'">-->

                        <!--<b><p th:text="${child.text}"></p></b>-->
                    <!--</div>-->

                    <!--<div th:replace="fragments/commentFragment :: alert (children=${child.children})"></div>-->
                <!--</div>-->


        </div>
    </div>
</body>
</html>