<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>

    Failed URL: <p th:text="${url}"></p>
    Exception:  <p th:text="${exception.message}"></p>

    <div th:each="ste : ${exception.stacktrace}">
        <p th:text="${ste}"></p>
    </div>

</body>
</html>