<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div th:each="postModel : ${posts}">
    <p th:utext="${postModel.post.text}"></p>
    <h2 th:text="${postModel.username}"></h2><h2>posted on </h2><h2 th:text="${postModel.datetime}"></h2>
    <form th:action="'/deletePost/'+${postModel.post.id}" method="POST">
        <div class="form-group">
            <input type="submit" class="btn btn-primary">Delete</input>
        </div>
    </form>
    <form th:action="'/addComment/'+${postModel.post.id}" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="text" id="text"/>
            <input type="submit" class="btn btn-primary" value="Comment"/>
        </div>
    </form>

    <div class="container">
        <div class="jumbotron">
            <div th:each="comment : ${postModel.post.comments}">
                    <div th:switch="${comment.depth}">
                        <div th:case="0">

                            <div th:with="left=${comment.depth*50}" th:style="'position:relative;left:'+${left}+'px;'">
                                <p th:text="${comment.text}"></p>

                                <div th:with="childLeft=${comment.depth*50}"></div>


                                <form th:action="'/deleteComment/'+${comment.id}" method="POST">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Delete">
                                    </div>
                                </form>
                                <form th:action="'/addComment/'+${postModel.post.id}+'?commentId='+${comment.id}" method="POST">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="text" id="text"/>
                                        <input type="submit" class="btn btn-primary" value="Comment"/>
                                    </div>
                                </form>

                                <div th:replace="fragments/commentFragment :: alert (postId=${postModel.post.id}, children=${comment.children})"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


    <!--<table class="table table-hover">-->
        <!--<thead>-->
            <!--<th>ID</th>-->
            <!--<th>UserID</th>-->
            <!--<th>Text</th>-->
            <!--<th>Datetime</th>-->
            <!--<th>Comments</th>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--<tr th:each="post : ${posts}">-->
                <!--<td th:text="${{post.id}}"></td>-->
                <!--<td th:text="${{post.userId}}"></td>-->
                <!--<td th:text="${{post.text}}"></td>-->
                <!--<td th:text="${{post.datetime}}"></td>-->
                <!--<td>-->
                    <!--<table>-->
                        <!--<tbody>-->
                        <!--<tr th:each="comment : ${post.comments}">-->
                            <!--<td th:text="${comment.text}">Thymus Thymi</td>-->
                            <!--<td th:text="${comment.datetime}">12</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
</body>
</html>